<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AboveTheFold</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/960.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
	<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="js/cufon.js"></script>
	<script type="text/javascript" src="js/cufon-fonts.js"></script>
	<script type="text/javascript" src="js/cufon-settings.js"></script>
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
	<!--[if lt IE 7 ]>
		<script src="js/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); </script>
	<![endif]-->
</head>
<body>
	<div class="w1 clearfix png_bg">
		<div class="container_12">
			<div id="header" class="grid_12">
				<h1 class="logo"><a href="index.html"><strong>ABOVE</strong> <span>the</span> <strong>FOLD</strong></a></h1>
				<div class="side">
					<strong class="call">Call Now</strong>
					<strong class="phone">888-555-1212</strong>
				</div>
			</div>
			<div class="clear">&nbsp;</div>
			<div id="main" class="grid_12">
				<div class="main-holder">
					<h2 class="aligncenter"><span>Customer Testimonials</span></h2>
					<div class="testimonials-holder">
						<div class="testimonials">
							<div class="testimonial">
								<div class="img-holder"><a href="#"><img src="images/img5.jpg" width="180" height="180" alt="image description" /></a></div>
								<blockquote>
									<div>
										<cite>Angelina Ashbury</cite>
										<q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</q>
									</div>
								</blockquote>
							</div>
							<div class="testimonial">
								<div class="img-holder"><a href="#"><img src="images/img6.jpg" width="180" height="180" alt="image description" /></a></div>
								<blockquote>
									<div>
										<cite>Roger Davies</cite>
										<q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</q>
									</div>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div class="w2 clearfix png_bg">
		<div class="container_12">
			<div class="nav-holder">
				<div id="nav">
					<div class="nav-w1">
						<div class="nav-w2">
							<ul class="clearfix">
								<li><a href="features.html"><span class="lt">Features</span><span class="rt"></span></a></li>
								<li><a href="benefits.html"><span class="lt">Benefits</span><span class="rt"></span></a></li>
								<li class="active"><a href="testimonials.html"><span class="lt">Testimonials</span><span class="rt"></span></a></li>
								<li><a href="screenshots.html"><span class="lt">Screenshots</span><span class="rt"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="block grid_12">
				<h3><strong>TRY WIDGET</strong> <span>for</span> <strong>FREE</strong></h3>
				<br/> <!-- Put some marketing text here if you'd like! -->
				<a href="#" class="button large lightgreen"><span><span>Big Action Button</span></span></a><br />
				<span>or <a href="#">Secondary Call to Action</a></span>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div id="footer" class="clearfix png_bg">
		<div class="container_12">
			<div class="grid_12 holder">
				<span class="copy">2010 &copy; Worry Free Labs LLC.</span>
				<ul class="social-networks">
					<li><a href="#" class="vimeo png_bg">vimeo</a></li>
					<li><a href="#" class="linkedin png_bg">linkedin</a></li>
					<li><a href="#" class="facebook png_bg">facebook</a></li>
					<li><a href="#" class="twitter png_bg">twitter</a></li>
					<li><a href="#" class="flickr png_bg">flickr</a></li>
				</ul>
				<ul>
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#">Privacy Statement</a></li>
				</ul>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
</body>
</html>